body {
    margin: 0 auto;
    width: calc(100vw/2);
}
.areatext {
    width: inherit;
    height: calc(100vh/4);
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #50485c;
    font-size: 12px;
    line-height: 22px;  
    
}

.container {
    display: flex;
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #bbb3c7;
}

.key {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.active {
    background-color: #737392;
}

.alphabet {

}

.latin {

}

.cyrillic {
      
}