body {
    margin: 0 auto;
    max-width: 1020px;
}
.areatext {
    width: 100%;
    height: calc(100vh/4);
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #5f4392;
    font-size: 12px;
    line-height: 22px;  
    
}

.pre>p {
    display: inline-block;
    
}

.container {
    display: flex;
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #bbb3c7;

}

.key {
    width: calc(100%/20);
    min-height: 45px;
    margin: 3px;
    border-radius: 10px;
    outline: none;
    padding: 3px;
    line-height: 19px;
    font-size: 1.07rem;
    display: inline-block;
    background-color: #f8f6ff;
    color: #535369;   
    box-shadow: inset 0px 0px 5px rgba(117, 118, 119, 0.5), 2px 2px 5px rgb(50, 41, 73);
    transition: background-color 100ms linear 0s;
    -webkit-transition: background-color 100ms linear 0s;
    -ms-transition: background-color 100ms linear 0s;
    transition: color 100ms linear 0s;
    -webkit-transition: color 100ms linear 0s;
    -ms-transition: color 100ms linear 0s;
}

.bigkey {
    width: calc(100%/10);    
}

#Space {
    width: calc(100%/3);
}

#Escape, #MetaLeft, #ArrowLeft, #ArrowUp, #ArrowRight, #ArrowDown, #Delete {
    width: calc(100%/14); 
}

.active {    
    background-color: #737392;
    color: #ccc7fc;
    transform: translateX(1px) translateY(1px);
    box-shadow: inset 2px 2px 1px rgba(46, 40, 61, 0.5), 2px 2px 5px rgb(50, 41, 73);
    transition: all 100ms linear 0s;
    -webkit-transition: all 100ms linear 0s;
    -ms-transition: all 100ms linear 0s;
}

.hidden {
    display: none;
}

.key_container {
    display: flex;    
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.alphabet>p {
    margin: 0;
    min-height: 30px;
    padding-top: 8px;    
}
